<main>


  <section class="section pt-150">
    <div class="container card shadow ">
      <div class="row m-2">
        <h1 class="header ">Pick your Place with Best Coaches now</h1>
        <p>500+ fitness coach and more than 100 doctor </p>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
            </div>
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </div>
      <div class="row-auto m-2 align-items-center justify-content-center">
        <button class="btn mr-auto" type="button" data-bs-toggle="collapse" data-bs-target="#filters"
          aria-expanded="false" aria-controls="filters"><i class="ni ni-ui-04" aria-hidden="true"></i>
          Filters</button>
        <button href="javascript:void(0)" class=" btn btn-primary font-weight-bold text-white"
          style="float:right ;">SEARCH</button>
      </div>
      <div class=" collapse p-2 row " id="filters">
        <div class="col-auto mt-2 ">
          <h1>Speciality</h1>
          <mat-checkbox class="d-block" *ngFor="let special of speciality ;let i=index" [(ngModel)]="special.checked"
            (checked)="special.checked">
            {{special.name}}</mat-checkbox>
        </div>
        <div class="col-auto mt-2 ">
          <h1>Speciality</h1>
          <mat-checkbox class="d-block" *ngFor="let special of speciality ;let i=index" [(ngModel)]="special.checked"
            (checked)="special.checked">
            {{special.name}}</mat-checkbox>
        </div>
        <div class="col-auto mt-2 ">
          <h1>Speciality</h1>
          <mat-checkbox class="d-block" *ngFor="let special of speciality ;let i=index" [(ngModel)]="special.checked"
            (checked)="special.checked">
            {{special.name}}</mat-checkbox>
        </div>
        <div class="col-auto mt-2 ">
          <h1>Speciality</h1>
          <mat-checkbox class="d-block" *ngFor="let special of speciality ;let i=index" [(ngModel)]="special.checked"
            (checked)="special.checked">
            {{special.name}}</mat-checkbox>
        </div>
        <div class="col-auto mt-2 ">
          <h1>Speciality</h1>
          <mat-checkbox class="d-block" *ngFor="let special of speciality ;let i=index" [(ngModel)]="special.checked"
            (checked)="special.checked">
            {{special.name}}</mat-checkbox>
        </div>


      </div>
    </div>
  </section>


  <section class="section bg-secondary pt-100">

    <div *ngFor="let coach of coaches  | paginate:config; " class="container card shadow mb-5">
      <div class="row">
        <div class=" d-block col-md-2 mt-2">
          <img src="{{coach.image}}" class="rounded-circle  shaker-image  d-inline" alt="Responsive image">
          <star-rating [starType]="'svg'" [readOnly]="true" [showHalfStars]="true" [rating]="getRating(coach.rate)"
            staticColor="ok" size="medium" speed="slow">
          </star-rating>
        </div>
        <div class="col-md-auto m-5 ml-auto">
          <p>starting at <span class="font-weight-bold"> {{coach.price}} per Hour</span></p>
        </div>
      </div>
      <div class="d-block  col-auto  mt-4">
        <p class="header m-0 text-primary "><span>Coach </span> <a href="javascript:void(0)"
            class="font-weight-bold">{{coach.name}}</a></p>
        <p class="font-weight-bold"> {{coach.title}}</p>
        <p class="d-md-block d-none col-auto"> {{coach.description}}</p>
      </div>
    </div>
    <pagination-controls class="text-center" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
      [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
      (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageBoundsCorrection($event)">
    </pagination-controls>

  </section>
</main>
