.shaker-image
{
    display: inline;
    width: 100% ;
    height: 100%;
}


.image-icon
{
  width:35px ;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}


.hi
{
  display: block;
}


.border
{
  border: 2px solid black;
}

.btn-search-backcolor
{
  background-color:rgb(239, 15, 15) ;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0070cd !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0070cd ;
}


