<main class="bg-secondary">
  <section class="profile-section ">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="row">
          <img src="assets/images/howitworks.jpg" class="profile-img">
        </div>
        <div class="row mt-3">
          <h2 class="profile-header"> Mohamed Ahmed Abd-Aziz, PERSONAL TRAINER & NUTRITION COACH. </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="steps-section mt-3 p-5">
    <div class="container">
      <div class="d-flex flex-column justify-content-center ">
        <div class="row">
          <h1 class="steps-header">FEW STEPS BETWEEN YOU AND YOUR DREAM</h1>
        </div>
        <div class="row steps-num-control-odd mt-3">
          <div>
            <p class="numberCircle-odd">1</p>
          </div>
        </div>
        <div class="row">
          <div class="  col-md-6">
            <img src="assets/images/videocall.png" class="steps-img">
          </div>
          <div class=" col-md-6 mt-2">
            <h1 class="steps-secondheader"> STEP 1: Get Free Strategy Call</h1>
            <p class="steps-paragraph">At first you can get one free video call to learn more about any program you want
              to enroll with </p>
          </div>
        </div>
        <div class="row steps-num-control-even mt-3">
          <div>
            <p class="numberCircle-even">2</p>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-6 mt-2">
            <h1 class="steps-secondheader"> STEP 2: MAKE SOME HEALTH CHECK AND ASSESMENT </h1>
            <p class="steps-paragraph">before we start i will ask you for some health checks like (Heart Rate , blood
              pressure , etc ....) to make to most right plan for you </p>
          </div>
          <div class="  col-md-6">
            <img src="assets/images/healthcheck.jpg" class="steps-img">
          </div>
        </div>
        <div class="row steps-num-control-odd mt-3">
          <div>
            <p class="numberCircle-odd">3</p>
          </div>
        </div>
        <div class="row">
          <div class="  col-md-6">
            <img src="assets/images/lifestyle.jpg" class="steps-img">
          </div>
          <div class=" col-md-6 mt-2">
            <h1 class="steps-secondheader"> STEP 3: CHOOSE YOUR LIFE STYLE AND TRAINING TIME</h1>
            <p class="steps-paragraph">Did you know that 80% of your weight loss or weight management results come from
              the time you spend out of the gym?! Lets say you train at the gym 4 times a week for 1 hour at a time,
              that amounts to less than 2% of your week </p>
          </div>
        </div>
        <div class="row steps-num-control-even mt-3">
          <div>
            <p class="numberCircle-even">4</p>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-6 mt-2">
            <h1 class="steps-secondheader"> STEP 4: EATING STARTEGY PLAN </h1>
            <p class="steps-paragraph">​Lots of people looking to improve their eating try following a meal plan.
              The problem is meal plans are usually unrealistic and not a long-term strategy.
              No matter how enthusiastic you are, meal plans can be tough to follow unless you can work your whole life
              around them, which most people can't. </p>
          </div>
          <div class="  col-md-6">
            <img src="assets/images/foodstrategy.jpg" class="steps-img">
          </div>
        </div>
        <div class="row steps-num-control-odd mt-3">
          <div>
            <p class="numberCircle-odd">5</p>
          </div>
        </div>
        <div class="row">
          <div class="  col-md-6">
            <img src="assets/images/hardwork.jpg" class="steps-img">
          </div>
          <div class=" col-md-6 mt-2">
            <h1 class="steps-secondheader"> STEP 5: NEVER STOP, NEVER GIVEUP </h1>
            <p class="steps-paragraph">you know even saitma became super hero by hard working so never give up you will
              reach your dream soon but it requires hard working </p>
          </div>

        </div>

      </div>
    </div>

  </section>


</main>
