<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark bg-primary ml-auto  ">
  <div class="container">
    <a class="navbar-brand " routerLink="/public/landing">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="ni ni-bold-down"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLink="/home">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav  ml-auto mr-5">
        <li class="nav-item">
          <a class="nav-link no-caret bg-default" data-toggle="dropdown" routerLink="/auth/signin" role="button">
            <span class="text-white">Sign in/up</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret " data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text">Shop</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret " data-toggle="dropdown" role="button">
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ni ni-world mr-2"></i>English
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Arabic</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
