main
{
  overflow: visible;
}


.dropdown {overflow: initial;}

.navbar
{
  z-index: 9999999;
}


li a
{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600 ;
  letter-spacing: 1px;
}


.logo-design
{
  width: 100%;
  height: auto;
}


@media (max-width:1200px)
{
  .logo-design
  {
    width: 100%;
  }
}
