<main class="navbar   bg-secondary navbar-expand-lg ">
  <div class="container ">
    <a routerLink="/public/landing"><img src="assets/images/2.png" class=" logo-design"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <i class="fa fa-bars text-white" aria-hidden="true"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <!-- <a routerLink="/auth/signin">
          <h3 class="offcanvas-title " id="offcanvasNavbarLabel">Sign In/Up</h3>
        </a> -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 ">
          <li class="nav-item d-md-none ">
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " routerLink="/public/landing" aria-current="page">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/public/HowItWorks" aria-current="page">HOW IT WORKS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              SERVICES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/public/online-coaching">ONLINE COACHING</a></li>
              <li><a class="dropdown-item" routerLink="/public/personal-coaching">PERSONAL COACHING</a></li>
              <li><a class="dropdown-item" routerLink="/public/calisthenics-coaching">CALISTHENICS COACHING</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" routerLink="/public/landing" aria-current="page">STORIES</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="/public/contact-me">CONTACT</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link text-white" aria-current="page" routerLink="/public/about-me">ABOUT ME</a>
          </li>
          <!-- <li class="nav-item d-md-none">
            <a class="nav-link " aria-current="page" (click)="changeLanguage()">{{language}}</a>
          </li> -->
          <!-- <li class="nav-item d-md-none">
            <a class="nav-link centered " aria-current="page">Join Us</a>
          </li> -->
          <!-- <li class="nav-item d-md-none">
            <a class="nav-link centered " aria-current="page"><img class="w-100"
                src="./assets/images/googlePlay.png"></a>
          </li> -->
        </ul>

      </div>
    </div>
  </div>
</main>