<main>
  <section class="section bg-secondary pt-150">
    <div class="container">
      <div class="row  align-items-center ">
        <div class=" d-md-block d-none col-md-7 order-2">
          <div class="  bg-secondary">
            <img src="./assets/images/fitness3.png" class="image-control floating">
          </div>
        </div>
        <div class="col-md-5 order-1">
          <div>
            <h1>Be The best version of you</h1>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500sm</p>
            <a href="javascript:void(0)" class=" btn btn-primary font-weight-bold text-white mt-5">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section tion class="section pt-100">
    <div class="container card shadow">
      <div class="row p-3">
        <div class="col-md-8  justify-content-center ">
          <div class="row">
            <h4 class="header">Pick your Place with Best Coaches now</h4>
            <p>500+ fitness coach and more than 100 doctor </p>
          </div>
          <div class="col-md-11 ">
            <div class="form-group">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-2">
              <button class="btn   col-md-5 border   m-1">
                <div class="text-dark"><i class="ni ni-badge text-primary"></i>
                  Speciality </div>
                <select class="form-select">
                  <option selected hidden></option>
                  <option>Online</option>
                  <option>Offline</option>
                </select>
              </button>
              <button class="btn   col-md-5  border m-1">
                <div class="text-dark"><i class="ni ni-chat-round text-primary"></i>
                  Type </div>
                <select class="form-select">
                  <option selected hidden></option>
                  <option>Online</option>
                  <option>Offline</option>
                </select>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="p-2">
              <button class="btn col-md-5  border m-1">
                <div class="text-dark"><i class="ni ni-pin-3 text-primary"></i>
                  Location </div>
                <select class="form-select">
                  <option selected hidden></option>
                  <option>Online</option>
                  <option>Offline</option>
                </select>
              </button>
              <button class="btn  col-md-5  border m-1">
                <div class="text-dark"><i class="ni ni-square-pin text-primary"></i>
                  Area </div>
                <select class="form-select">
                  <option selected hidden></option>
                  <option>Online</option>
                  <option>Offline</option>
                </select>
              </button>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5 ">
              <a href="javascript:void(0)" class=" btn btn-primary font-weight-bold text-white mt-3">SEARCH</a>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block col-md-4">
          <img src="./assets/images/search.png" class="shaker-image ">
        </div>
      </div>

    </div>

  </section>


  <section class="section container  pt-150 bg-white ">
    <div class="row  lead  text-gradient-primary font-weight-bold">Our Solutions
      for Better Training
    </div>
    <div class="card bg-primary shadow">
      <div class="p-5">
        <div class="row ">
          <div class="col-lg-8">
            <h3 class="text-white">MarketPlace</h3>
            <p class="lead text-white mt-3">Buy Your Equipments with the Cheapest Prices</p>
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page"
              class="btn btn-lg btn-block btn-white">Place Order</a>
          </div>
          <div class="col-lg-3 ml-lg-auto">
            <img src="./assets/images/shaker.png" class="shaker-image">
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section section-lg  bg-secondary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4   ">
              <div class="card card-lift--hover shadow border-0 card-hieght-custom ">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-shield text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Book at The Same Price</h6>
                  <p class="description mt-3">there are no extra charges on Gymawy</p>
                  <img src="assets/images/icons/handshake.png" class=" d-md-block shaker-image">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0 card-hieght-custom">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-user text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Verified Trainees reviews</h6>
                  <p class="description mt-3">Coaches ratings are from Trainees who already booked with through Gymawy
                  </p>
                  <img src="assets/images/icons/customer-review.png" class="d-md-block shaker-image">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0 card-hieght-custom">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-money text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Money back Guarentee</h6>
                  <p class="description mt-3">You Can get your Money Back Up to Week </p>
                  <img src="assets/images/icons/refund.png" class="d-md-block shaker-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>
</main>
