



/**************************************  landing section***************/

#landing-image
{

  width:100%;
  min-height: 120%;
  position: absolute;
  background-color: black;
  top: 0%;
  background-size: cover;
}

.landing-img
{
  width: 600px;
  height: auto;
  margin-top: -4rem;
}
.shi
{
  font-size: 135px;
  font-weight: 600;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 7px !important;


}

.ne
{
  font-size: 100px;
  font-weight: 600;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 7px !important;
  gap: 0;
}


.online
{
  margin-top: -3rem;
}

.bright-row
{
  margin-top: -7rem;
}

.landing-link
{
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 7px !important;
  font-size: 2rem;
  border: none;
  font-weight: 400;
}

.descripe-row
{
  margin-top: -4rem;

}


.landing-bar-text
{
  font-weight: 900;
  font-family: 'Poiret One', cursive;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 3rem;

}

@media only screen and (max-width: 950px) {
  .descripe-row {
    margin-top: 0;
  }
  .ne
  {
  font-size: 135px;
  margin-top: -15px;
  }


}

@media only screen and (max-width: 350px) {

  .shi
{
  font-size: 100px;
  margin-bottom: 20px;
}

.ne
{
font-size: 100px;
margin-top: -15px;
}


}


/***************************************************************************************************/



/************************************** Online section *******************/

.programs-img
{
  width: 100%;
  height: 100%;
}


.programs-title
{
  text-align: center;
  letter-spacing: 1px !important;
  font-weight: 500;
  font-family: 'Poiret One', cursive;
  font-size: 3rem;
  line-height: 3rem;
}

.programs-title-2
{
  text-align: center;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

.online-link
{
  text-decoration: none ;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 7px !important;
  font-size: 2rem;
  border: none;
  font-weight: 400;
}
/*************************************************************************************************/


/************************************services section **************************************/


#service-section
{
  margin-top: 100px;
}

#service-div
{
  display: flex;
  justify-content: center;
  align-items: center;
}




.service-title
{
  text-align: center;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  letter-spacing: 3px;
}

.service-paragraph
{
  text-align: center;
}

.service-container
{

  position: relative;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
}

.service-container .card
{
  position: relative;
  display: flex;
  flex-direction: column;

}

.service-container .card:nth-child(even)
{
  flex-direction: column-reverse;
}

.service-container .card .imgBx
{
  position: relative;
  width: 250px;
  height: 250px;
  background:#000
}

.service-container .card .imgBx  img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-container .card .content
{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-container .card .content div
{
  padding: 20px;
  text-align: center;
}

.service-container .card .content div h2
{
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 8em;
  color:rgba(240, 57, 93, 0.4) ;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

.service-card-title
{
  text-align: center;
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
  letter-spacing: 3px;

}


@media(max-width:1000px)
{
  #service-section
  {
  margin-top: 110px;
  }

  .service-container
  {
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
    margin: 50px;
  }

  .service-container .card
  {
    flex-direction: row;
    margin: 10px 0;
  }

  .service-container .card:nth-child(even)
  {
  flex-direction: row-reverse;
  }

  .service-container .card .imgBx ,
  .service-container .card .content
  {
    width: 50%;
  }

}


@media(max-width:600px)
{
  .service-container .card
  {
    flex-direction: column;
    margin: 10px 0 ;
  }

  .service-container .card:nth-child(even)
  {
  flex-direction: column;
  }

  .service-container .card .imgBx ,
  .service-container .card .content
  {
    width: 100%;
  }

}


/*******************************************************************************************/

/********************************ABOUT ME***************************************************/

#about-me
{
  margin-top: 200px;
}
.aboutme-img
{
  width: 100%;
}


.aboutme-title
{
  text-align: center;
  letter-spacing: 1px !important;
  font-weight: 500;
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
}

.aboutme-paragraph
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}


.aboutme-btn
{
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 7px !important;
  font-size: 2rem;
  border: none;
  font-weight: 400;
  color: #fff;
}
/*******************************************************************************************/


/********************************SOCIAL SECTION***************************************/

 .social-header
 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  line-height: 3rem;
 }

 .social-break
 {
  border-top: 1px solid white;

 }


/**********************************************************************************************/




/**********************************************************************************************/


/************************************MONEY BACK SECTION*****************************************/

.moneyback-header
{
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 letter-spacing: 3px;
 font-size: 3rem;
 line-height: 3rem;
 text-align: center;
 color: #fff;
}

.moneyback-paragraph
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}

.moneyback-img
{
  width: 100%;
}
/**********************************************************************************************/
