<main>
  <swiper [config]="config" class="mySwiper" #swiperSlideShow>
    <ng-template swiperSlide><img src="assets/images/landing1.jpg" class="w-100" alt="..."></ng-template>
    <ng-template swiperSlide><img src="assets/images/landing2.jpg" class="w-100" alt="..."></ng-template>
    <ng-template swiperSlide><img src="assets/images/landing3.jpg" class="w-100" alt="..."></ng-template>
  </swiper>


  <section class="section overlapping  ">
    <div class="container card shadow">
      <div class="row p-3">
        <div class="col-md-8  justify-content-center ">
          <div class="row">
            <h4 class="header">Pick your Place with Best Coaches now</h4>
            <p>500+ fitness coach and more than 100 doctor </p>
          </div>
          <div class="row ">
            <div class="form-group">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="dropdown col-12 col-md-6 ">
              <button class="btn dropdown-toggle   border w-100   m-1" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-dark"><i class="ni ni-badge text-primary"></i>
                  Speciality </div>
                <div>asd</div>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <div class="dropdown col-12 col-md-6 ">
              <button class="btn dropdown-toggle   w-100   border   m-1" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-dark"><i class="ni ni-chat-round text-primary"></i>
                  Type </div>
                <div>asd</div>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="dropdown col-12 col-md-6">
              <button class="btn dropdown-toggle  w-100   border   m-1" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-dark"><i class="ni ni-pin-3 text-primary"></i>
                  Location </div>
                <div>asd</div>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
            <div class="dropdown col-12 col-md-6">
              <button class="btn dropdown-toggle px-5  w-100  border   m-1" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-dark"><i class="ni ni-square-pin text-primary"></i>
                  Area </div>
                <div>asd</div>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5 ">
              <a href="javascript:void(0)" class=" btn btn-primary font-weight-bold text-white mt-3">SEARCH</a>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block col-md-4">
          <img src="./assets/images/search.png" class="shaker-image ">
        </div>
      </div>

    </div>

  </section>


  <section class="section container   ">
    <div class="row  lead  text-gradient-primary font-weight-bold">Our Solutions
      for Better Training
    </div>
    <div class="card bg-primary shadow">
      <div class="p-5">
        <div class="row ">
          <div class="col-lg-8">
            <h3 class="text-white">MarketPlace</h3>
            <p class="lead text-white mt-3">Buy Your Equipments with the Cheapest Prices</p>
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page"
              class="btn btn-lg btn-block btn-white">Place Order</a>
          </div>
          <div class="col-lg-3 ml-lg-auto">
            <img src="./assets/images/shaker.png" class="shaker-image">
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section section-lg  bg-secondary">
    <div class="container">
      <div class="row  lead  text-gradient-primary font-weight-bold">Why to Choose Gymya
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4   ">
              <div class="card card-lift--hover shadow border-0 card-height-custom ">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-shield text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Book at The Same Price</h6>
                  <p class="description mt-3">there are no extra charges on Gymawy</p>
                  <img src="assets/images/icons/handshake.png" class=" d-md-block shaker-image">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0 card-height-custom">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-user text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Verified Trainees reviews</h6>
                  <p class="description mt-3">Coaches ratings are from Trainees who already booked with through Gymawy
                  </p>
                  <img src="assets/images/icons/customer-review.png" class="d-md-block shaker-image">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0 card-height-custom">
                <div class="card-body py-5">
                  <div class="icon icon-shape bg-secondary rounded-circle  mb-1">
                    <i class="fa fa-money text-primary" aria-hidden="true"></i>
                  </div>
                  <h6 class="text-dark text-uppercase font-weight-bold">Money back Guarentee</h6>
                  <p class="description mt-3">You Can get your Money Back Up to Week </p>
                  <img src="assets/images/icons/refund.png" class="d-md-block shaker-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container align-items-center justify-content-center mt-5">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of sliders">
        <ng-template carouselSlide>
          <div class="card  shadow mb-2  card-height-custom ">
            <img [src]="slide.image" class=" d-md-block shaker-image">
            <div class="card-body py-5">
              <h4 class="text-dark text-uppercase font-weight-bold">{{slide.title}}</h4>
              <p class="description mt-3">{{slide.description}}</p>
            </div>
            <div class="row">
              <a href="#" class=" m-4 justify-content-center ">Read More ...</a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>


  <section class="container stories">

    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
    <div>asdasdadsasd</div>
  </section>

</main>
