<main class="bg-secondary">

  <section class="section mt-5">
    <div class="container">
      <h1 class="title">ONLINE COACHING</h1>
    </div>
  </section>

  <section class="  p-5 my-5">
    <div class="container">
      <div class="d-flex flex-row flex-wrap">
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <img src="assets/images/basic.png" class="program-image">
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $30/3 Monthes</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The basic plan is designed for individuals who are just starting out with their fitness journey and are
                looking for guidance and support. This plan includes a personalized workout plan, access to a virtual
                trainer for basic questions, and basic progress tracking tools. The basic plan is an affordable and
                convenient option for those who want to take control of their health and wellness without breaking the
                bank.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">One-to-one Sessions</li>
                <li class="program-list-item">Regular Progress Reviews</li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column">
            <div class="row">
              <img src="assets/images/standard.png" class="program-image">
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $50/3 Monthes</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The standard plan is perfect for individuals who are looking for a more comprehensive online training
                experience. This plan includes everything in the basic plan, plus additional support and resources.
                Clients will have access to a virtual trainer for regular check-ins and progress updates, personalized
                nutrition advice, and access to a library of video workouts. The standard plan provides clients with the
                tools and support they need to reach their goals and maintain a healthy lifestyle.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">Regular Progress Reviews</li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-between align-items-between">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column">
            <div class="row">
              <img src="assets/images/premium.png" class="program-image">
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $70/3 Monthes</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The premium plan is the ultimate online training solution for those who are serious about their fitness
                journey. This plan includes everything in the standard plan, plus extra resources and support. Clients
                will have access to a dedicated virtual trainer who will provide personalized coaching, daily check-ins
                and progress updates, and a more comprehensive nutrition plan. The premium plan also includes access to
                a virtual community of like-minded individuals for support and motivation. This plan is perfect for
                those who want to maximize their results and make a lasting change in their health and wellness.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">Regular Progress Reviews</li>
                <li class="program-list-item" style="list-style: none ;"><br></li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>>