<main class="bg-secondary">
  <section class="section ss">
    <div class="container">
      <div class="d-flex flex-row flex-wrap">
        <div class="col-md-6 col-12">
          <div class="d-flex flex-column flex-wrap">
            <div class="row mt-2">
              <h1 class="header">HELLO, I'AM</h1>
            </div>
            <div class="row mt-2">
              <h1 class="header-name">MOHAMED ABD-AZIZ</h1>
            </div>
            <div class="row mt-2">
              <h1 class="header-paragraph">I'am 24 years old, Fitness was my passion so Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book</h1>
            </div>
            <div class="row mt-2">
              <div class="col-md-3">
                <a class="header-link btn bg-primary text-white">Contact Us</a>
              </div>
            </div>

            <div class="row mt-5">
              <div class="d-flex flex-row">
                <div class="col">
                  <div class="d-flex flex-column">
                    <div class="row">
                      <h1 class="header">20</h1>
                    </div>
                    <div class="row">
                      <h1 class="header-client">HAPPY CLIENTS</h1>
                    </div>
                    <div class="row">
                      <h1 class="clients-paragraph">Hhen an unknown printer took a galley of type and
                        scrambled it to make a type specimen book</h1>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-column">
                    <div class="row">
                      <h1 class="header">5</h1>
                    </div>
                    <div class="row">
                      <h1 class="header-client">AWARDS</h1>
                    </div>
                    <div class="row">
                      <h1 class="clients-paragraph">Hhen an unknown printer took a galley of type and
                        scrambled it to make a type specimen book</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <img src="assets/images/aboutme.jpg" class="aboutme-img">
        </div>
      </div>
    </div>
  </section>
</main>
