.card
{
  border-radius: 20px;
  border:2px solid rgb(194, 164, 59);
  min-height: 290px;
}


.contactme-title
{
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 800;
 letter-spacing: 3px;
 font-size: 1rem;
 line-height: 1rem;
 margin-top: 15px;
 color: #fff;
}


.contactme-paragraph
{
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}


.card-title
{
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}


.holder-form
{
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
}
