<main class="bg-secondary">
  <section class="mt-5 section">
    <div class="container">
      <div class="d-flex flex-row justify-content-center align-items-center  flex-wrap">
        <div class="col-12 col-md-4 my-3">
          <div class="card bg-secondary ">
            <div class="d-flex flex-column  align-items-center">
              <div class="row">
                <i class="fa fa-map-marker fa-4x text-primary" aria-hidden="true"></i>
              </div>
              <div class="row">
                <p class="contactme-title">MY MAIN GYM</p>
              </div>
              <div class="row">
                <p class="contactme-paragraph"> 76RW+XFH, سنهرة،, سنهرة، طوخ، القليوبية 6442621</p>
              </div>
              <div class="row">
                <p class="contactme-paragraph">(O2Z GYM)</p>
              </div>
              <div class="row">
                <a class=" btn bg-primary contactme-link my-3 text-white">SEE ON MAP</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-3">
          <div class="card bg-secondary ">
            <div class="d-flex flex-column justify-content-center  align-items-center">
              <div class="row">
                <i class="fa fa-phone fa-4x text-primary" aria-hidden="true"></i>
              </div>
              <div class="row">
                <p class="contactme-title">PHONE</p>
              </div>
              <div class="row">
                <p class="contactme-paragraph"> 0123456789</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 my-3">
          <div class="card bg-secondary ">
            <div class="d-flex flex-column  align-items-center">
              <div class="row">
                <i class="fa fa-envelope fa-4x text-primary" aria-hidden="true"></i>
              </div>
              <div class="row">
                <p class="contactme-title">EMAIL</p>
              </div>
              <div class="row">
                <p class="contactme-paragraph">ZOZ_MGNS@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="contactme">
    <div class="container">
      <div class="card shadow bg-secondary">
        <div class="d-flex flex-column flex-wrap">
          <div class="row">
            <h1 class="card-title">CONTACT US</h1>
          </div>
          <div class="row mx-5">
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
              <div class="col-md-4 col-12">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label holder-form">Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label holder-form">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput2">
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label holder-form">Phone</label>
                  <input type="email" class="form-control" id="exampleFormControlInput3   ">
                </div>
              </div>
            </div>
          </div>
          <div class="row mx-5 justify-content-center align-items-center">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label holder-form">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
          </div>
          <div class="row m-4 justify-content-center align-items-center">
            <div class="col-md-2 ">
              <a class="btn bg-primary text-white">SEND FORM</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
