<main class="bg-secondary">
  <section class="section mt-5">
    <div class="container">
      <h1 class="title">PERSONAL COACHING</h1>
    </div>
  </section>

  <section class="section mt-5">
    <div class="container">
      <div class="d-flex flex-row flex-wrap">
        <div class=" col-12 col-md-6 mt-4">
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <img src="assets/images/onetoone.jpg" class="program-image">
            </div>
            <div class="row mt-2 ">
              <h1 class="program-header">ONE-TO-ONE COACHING</h1>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $75/3 Monthes</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                One on one coaching is ideal for you if you need a more personal approach to your training, mindset and
                nutrition. You'll work with me personally at my private studio to assess your current situation and
                together, we'll discover fast, safe and effective ways to help you burn, stubborn fat, feel more
                energised and accomplish your goals.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">One-to-one Sessions</li>
                <li class="program-list-item">Regular Progress Reviews</li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a href="#" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-6 mt-4">
          <div class="d-flex flex-column">
            <div class="row">
              <img src="assets/images/group-gym.jpg" class="program-image">
            </div>
            <div class="row mt-2 ">
              <h1 class="program-header">GROUP COACHING (2 PERSONS)</h1>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $50/3 Monthes</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                GROUP Coaching is ideal if you work harder and feel more motivated training with your partner/friend
                and want to make huge savings on personal training costs. You'll work through the individualised
                nutrition program I create for you, and exercise alongside your partner to accomplish your health and
                fitness goals.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">Regular Progress Reviews</li>
                <li class="program-list-item" style="list-style: none ;"><br></li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a href="#" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section mt-5" id="moneyback-section">
    <div class="container">
      <h1 class="moneyback-header">PERSONAL TRAINING IN NASR CITY</h1>
      <hr class="social-break">
      <div class="d-flex flex-row flex-wrap">
        <div class="col-12 col-md-6">
          <p class="moneyback-paragraph"> At ZOZ Personal Training in Lancing I'm so passionate and confident about
            achieving results for my
            clients
            that ​if you commit and do everything within my coaching program and don't see and feel noticeable results
            after 12 weeks I will refund you your entire investment.</p>
          <p class="moneyback-paragraph">
            No questions asked, we just simply part as friends, not that I've ever had to give anyone a refund before.
          </p>
          <p class="moneyback-paragraph">
            That's how sure I am that this will be the BEST transformation you've ever experienced before.</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/images/moneyback.png" class="moneyback-img">
        </div>
      </div>
    </div>
  </section>
</main>
