<main>
  <footer>
    <div class="footer-container container">
      <div class="sec aboutus">
        <h2>ABOUT US</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries</p>
        <ul class="sci">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>QUICK LINKS</h2>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">HOW IT WORKS</a></li>
          <li><a href="#">STORIES</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">ABOUT ME</a></li>
        </ul>
        <h2>COACHING SERVICES</h2>
        <ul>
          <li><a href="#">ONLINE</a></li>
          <li><a href="#">PERSONAL</a></li>
          <li><a href="#">CALITHENTICS</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>CONTACT INFO</h2>
        <ul class="info">
          <li>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span>NASR CITY<br>
              65 awl abbas street<br>
              EGYPT</span>
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p><a href="tel:0123456789">+02 0123456789</a></p>
          </li>
          <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:zoz_mgns@gmail.com">AbdelAziz@gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyrightText">
    <p>Copyright @2022 Karim Ayman , All Right Reserved</p>
  </div>
</main>
