<main>
  <footer>
    <div class="footer-container container">
      <div class="sec aboutus">
        <h2>ABOUT ME</h2>
        <p>I provide personalized training and expert support to help you reach your fitness goals. Contact us today
          and start your journey to a healthier you.</p>
        <ul class="sci">
          <li><a class="facebook" href="https://web.facebook.com/mohamed.abdelaziz.522" target="_blank"><i
                class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a class="insta" href="https://www.instagram.com/m_abd_elazizz/" target="_blank"><i
                class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>QUICK LINKS</h2>
        <ul>
          <li><a routerLink="/public/landing">HOME</a></li>
          <li><a routerLink="/public/HowItWorks">HOW IT WORKS</a></li>
          <!-- <li><a href="#">STORIES</a></li> -->
          <li><a routerLink="/public/contact-me">CONTACT</a></li>
          <li><a routerLink="/public/about-me">ABOUT ME</a></li>
        </ul>
        <h2>COACHING SERVICES</h2>
        <ul>
          <li><a routerLink="/public/online-coaching">ONLINE</a></li>
          <li><a routerLink="/public/personal-coaching">PERSONAL</a></li>
          <li><a routerLink="/public/calisthenics-coaching">CALITHENTICS</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>CONTACT INFO</h2>
        <ul class="info">
          <li>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span>NASR CITY<br>
              65 awl abbas street<br>
              EGYPT</span>
          </li>
          <li>
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <p><a href="tel:01555019887">+02 01555019887</a></p>
          </li>
          <!-- <li>
            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <p><a href="mailto:zoz_mgns@gmail.com">AbdelAziz@gmail.com</a></p>
          </li> -->
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyrightText">
    <p>Copyright @2022 Karim Ayman , All Right Reserved</p>
  </div>
</main>