.footer-header
{
  text-align: center;
  letter-spacing: 1px !important;
  font-weight: 500;
  font-family: 'Poiret One', cursive;
  font-size: 3rem;
  line-height: 3rem;
  color: #fff;
}

.footer-header-2
{
  text-align: center;
  letter-spacing: 1px !important;
  font-weight: 800;
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}
.footer-paragraph
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}


hr {
  display: block;
  height: 2px;
  width: 150%;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}


.register-text
{
  text-align: center;
  letter-spacing: 1px !important;
  font-weight: 600;
  font-family: 'Poiret One', cursive;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
}


.facebook-icon
{
  color: #fff;
  background-color: #4267B2;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}


.twitter-icon
{
  color: #fff;
  background-color:#1DA1F2;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}

.insta-icon
{
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}

.linkedin-icon
{
  color: #fff;
  background-color:#0077b5;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}

.github-icon
{
  color: #fff;
  background-color:#333;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}
