<main class="bg-default">
  <div class="container-fluid">
    <div class="d-flex flex-column align-items-center">
      <div class="row mt-5">
        <div class="d-flex flex-row flex-wrap">

          <div class="col">
            <div class="d-flex flex-column">
              <div class="row">
                <h1 class="footer-header">CONTENT</h1>
              </div>
              <div class="row">
                <p class="footer-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-column  align-items-center">
              <div class="row">
                <h1 class="footer-header-2">SERVICES</h1>
              </div>
              <div class="row ">
                <div class="d-flex flex-column">
                  <div class="row mt-3">
                    <a class="text-white" href="#">ONLINE COACHING</a>
                  </div>
                  <div class="row mt-3">
                    <a class="text-white" href="#">PERSONAL COACHING</a>
                  </div>
                  <div class="row mt-3">
                    <a class="text-white" href="#">CALISTHENICS COACHING</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-column  align-items-center">
              <div class="row">
                <h1 class="footer-header-2">LINKS</h1>
              </div>
              <div class="row ">
                <div class="d-flex flex-column">
                  <div class="row mt-3">
                    <a class="text-white" href="#">HOME</a>
                  </div>
                  <div class="row mt-3">
                    <a class="text-white" href="#">HOW IT WORKS</a>
                  </div>
                  <div class="row mt-3">
                    <a class="text-white" href="#">STORIES</a>
                  </div>
                  <div class="row mt-3">
                    <a class="text-white" href="#">CONTACT US</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div class="row">
        <div>
          <p class="d-inline m-3 register-text">Register for free</p>
          <a class="btn register-link text-white bg-primary m-3">SIGN UP!</a>
        </div>
      </div>
      <hr />
      <div class="row m-3">
        <div class="d-flex flex-row">
          <div class="col">
            <div><a href="#"><i class="fa fa-facebook-official fa-3x  facebook-icon" aria-hidden=" true"></i></a>
            </div>
          </div>
          <div class="col">
            <div><a href="#"><i class="fa fa-twitter fa-3x  twitter-icon" aria-hidden=" true"></i></a>
            </div>
          </div>
          <div class="col">
            <div><a href="#"><i class="fa fa-instagram fa-3x  insta-icon" aria-hidden=" true"></i></a>
            </div>
          </div>
          <div class="col">
            <div><a href="#"><i class="fa fa-linkedin fa-3x  linkedin-icon" aria-hidden=" true"></i></a>
            </div>
          </div>
          <div class="col">
            <div><a href="#"><i class="fa fa-github fa-3x  github-icon" aria-hidden=" true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row ">
        <div class="col-12">
          <p class="text-white">@2022 Copyright : KARIM AYMAN EID</p>
        </div>
      </div>
    </div>
  </div>
</main>
