<main class="bg-secondary">
  <section class="section mt-5">
    <div class="container ">
      <h1 class="title flex-wrap">CALISTHENICS COACHING</h1>
    </div>
  </section>

  <section class="section mt-5">
    <div class="container">
      <div class="d-flex flex-row flex-wrap">
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <img src="assets/images/beginner.jpg" class="program-image">
            </div>
            <div class="row mt-2 ">
              <h1 class="program-header">BEGINNER PROGRAM</h1>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $40/ PROGRAM</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The calisthenics beginner program is designed for those who are just starting out with bodyweight
                training. This program focuses on building strength and improving overall fitness through the use of
                basic calisthenics exercises such as push-ups, squats, and lunges. The beginner program includes a
                customized workout plan, video demonstrations, and progress tracking tools to help clients see their
                results and stay motivated.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">One-to-one Sessions</li>
                <li class="program-list-item">Regular Progress Reviews</li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <img src="assets/images/intermediate.jpg" class="program-image">
            </div>
            <div class="row mt-2 ">
              <h1 class="program-header">intermediate PROGRAM</h1>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $60/ PROGRAM</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The calisthenics intermediate program is for those who have a good foundation of bodyweight training and
                are ready to take their skills to the next level. This program includes more challenging exercises and
                introduces advanced techniques like muscle-ups and handstand push-ups. The intermediate program also
                includes a more comprehensive nutrition plan to support strength and muscle building. Clients will have
                access to a virtual trainer for regular check-ins and progress updates.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">One-to-one Sessions</li>
                <li class="program-list-item">Regular Progress Reviews</li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-4">
          <div class="d-flex flex-column">
            <div class="row">
              <img src="assets/images/advanced.jpg" class="program-image">
            </div>
            <div class="row mt-2 ">
              <h1 class="program-header">ADVANCED PROGRAM</h1>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <h2 class="program-price">AT $75/ PROGRAM</h2>
            </div>
            <div>
              <hr class="program-break">
            </div>
            <div class="row">
              <p class="program-description">
                The calisthenics advanced program is designed for experienced bodyweight training enthusiasts who want
                to push their limits and achieve their ultimate fitness goals. This program includes highly challenging
                exercises and advanced training techniques, and is designed to help clients reach their maximum
                potential. Clients will have access to a dedicated virtual trainer who will provide personalized
                coaching and support to help them achieve their goals. The advanced program also includes access to a
                virtual community of like-minded individuals for motivation and support.
              </p>
            </div>
            <div class="row mt-2">
              <ul>
                <li class="program-list-item">Monthly Health & Fitness Testing</li>
                <li class="program-list-item">Nutritional Analysis & System </li>
                <li class="program-list-item">Initial one-to-one 'set up' </li>
                <li class="program-list-item">Supplementation Plan</li>
                <li class="program-list-item">Lifestyle Analysis & Plan</li>
                <li class="program-list-item">Regular Progress Reviews</li>
                <li class="program-list-item" style="list-style: none ;"><br></li>
              </ul>
            </div>
            <div class="row mt-5  ">
              <div class="col-6 justify-content-center align-items-center">
                <a routerLink="/public/contact-me" class=" btn bg-primary text-white landing-link"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>