.title
{
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 letter-spacing: 3px;
 font-size: 4.5rem;
 line-height: 5rem;
 color: #fff;
}

@media (max-width:499px)
{
  .title
{
 font-size: 2rem;
 line-height: 2rem;
}
}

/*********************************************************program section*********************************************/

.program-img
{
  width:100%;
  height:200px;
}

.program-header
{
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  letter-spacing: 3px;
  color: #fff;
}

.program-break
{
 border-top: 2px solid white;
}

.program-price
{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  line-height: 3rem;
  color: #fff;
}

.program-description
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}

.program-list-item
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 800;
  font-family: 'Josefin Sans', cursive;
  font-size: 1.4rem;
  line-height: 3.5rem;
  color: #fff;
}

.program-link
{
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px !important;
  font-size: 2rem;
  font-weight: 400;
}

/***********************************************************************************************************************/


/***********************************************MONEY BACK SECTION *****************************************************/

.moneyback-header
{
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 letter-spacing: 3px;
 font-size: 3rem;
 line-height: 3rem;
 text-align: center;
 color: #fff;
}

.moneyback-paragraph
{
  text-align: left;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}

.moneyback-img
{
  width: 100%;
}
/***********************************************************************************************************************/
